# Vscode
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*obj/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
megaphone
PhoneBook
zombieHorde
HI_THIS_IS_BRAIN
human
String_replace
test.txt.replace
Harl
harlFilter
fixed
bsp
ClapTrap
DiamondTrap
Animal
Brain
